@import "../scss/brand";
@import "../scss/animations";

.Player button:not(button.btn){
	border: none;
	background-color: inherit;
	color: $gcs-alpine;
}

.Player button:disabled{
	color: $gcs-alpine-disabled;
}

.Player button:not(button.btn):not(:disabled):hover{
	color: $gcs-alpine-hover;
}

.Player button.btn{
	border: none !important;
}

.Player .btn:hover,
.Player .btn:active,
.Player .btn:focus{
	background-color: $gcs-alpine-hover !important;
}

.Player select{
	width: 6vw !important;
}
.Player > div > button:first-child{
	width: 6vw !important;
}


.Player{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 2.5vmin;

	justify-content: space-between;
	align-items: center;
}


.Player img{
	width: 50vmin;
	height: 50vmin;
	border: 2px solid $gcs-alpine;
}

.Player > h2, .Player > img, .Player button{
	display: flex;
	align-items: center;
	justify-content: center;
}

.Player > div:first-of-type{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.Player > div:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
}

.Player .songProgressBar > .rc-slider-rail,
.Player .volumeBar > .rc-slider-rail{
	height: 1vmin;
	background-color: #000;
}

.Player .songProgressBar > .rc-slider-track,
.Player .volumeBar > .rc-slider-track{
	height: 1vmin;
}

.Player .songProgressBar > .rc-slider-track{
	animation: rainbowInset 5s infinite;
}

.Player .volumeBar > .rc-slider-track{
	animation: secondaryRainbowInset 5s infinite;
}

.Player .songProgressBar > .rc-slider-track:hover, .Player .songProgressBar > .rc-slider-rail:hover,
.Player .volumeBar > .rc-slider-track:hover, .Player .volumeBar > .rc-slider-rail:hover{
	cursor: pointer;
}

.Player h2, .Player h4{
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	.Player img{
		width: 75vmin;
		height: 75vmin;
	}
	.Player h2{
		font-size: 1.75rem;
	}
	.Player h4{
		font-size: 1.25rem;
	}

	.Player .songProgressBar > .rc-slider-rail, .Player .songProgressBar > .rc-slider-track,
	.Player .volumeBar > .rc-slider-rail, .Player .volumeBar > .rc-slider-track {
		height: 2.5vmin;
	}
}
