.Selector{
	position: relative;
	overflow-x: visible;
}

.SelectorProcessing:hover, .SelectorProcessing *:hover{
	cursor: wait !important;
}

.searchResultsWrapper{
	position: relative;
	overflow-x: visible;
}

.Selector .searchResults{
	width: 100%;
	position: absolute;
	overflow: visible;
	z-index: 1;
}

.Selector .floating-label > input:focus{
	outline-offset: -10px;
}

.Selector .songsDisplay{
	overflow-y: scroll;
}

.Selector > *{
	margin-bottom: 1.5vh;
}

.HrWrapper > *{
	margin: 0;
}

.Selector .songsDisplay{
	overflow-y: auto;
}

.Selector .searchWrapper{
	position: relative;
}

@media only screen and (max-width: 1024px) {

	.Selector .searchResults{
		max-height: 35vh;
		overflow-y: scroll;
		overflow-x: visible;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.Selector .searchResults::-webkit-scrollbar {
		display: none;
	}

}
