@import "../scss/brand";

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.5vmin;
	height: 100%;
	overflow-y: hidden;
}

.App > h1 {
	@include gcs-radio-header;

	font-size: 5rem;
	height: 5vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.App {
		padding: 7.5vmin;
	}
	.App > h1 {
		font-size: 2.5rem;
	}
}


$colour-one: $gcs-bright;
$colour-two: lighten($gcs-bright, 30%);
$colour-three: $gcs-faded;
$colour-four: darken($gcs-bright, 30%);

@keyframes rainbow {
	from, to {
		box-shadow: -5px 0px 30px -5px $colour-one,
					0px -5px 30px -5px $colour-two,
					5px 0px 15px 5px $colour-three,
					0px 5px 30px -5px $colour-four;
	}
	25% {
		box-shadow: -5px 0px 30px -5px $colour-four,
					0px -5px 30px -5px $colour-one,
					5px 0px 30px 5px $colour-two,
					0px 5px 15px -5px $colour-three;
	}
	50% {
		box-shadow: -5px 0px 15px -5px $colour-three,
					0px -5px 30px -5px $colour-four,
					5px 0px 30px -5px $colour-one,
					0px 5px 30px 5px $colour-two;
	}
	75% {
		box-shadow: -5px 0px 30px 5px $colour-two,
					0px -5px 15px -5px $colour-three,
					5px 0px 30px -5px $colour-four,
					0px 5px 30px -5px $colour-one;
	}
}


@keyframes rainbowInset {
	from, to {
		box-shadow: -5px 0px 30px -5px $colour-one inset,
					0px -5px 30px -5px $colour-two inset,
					5px 0px 15px 5px $colour-three inset,
					0px 5px 30px -5px $colour-four inset;
	}
	25% {
		box-shadow: -5px 0px 30px -5px $colour-four inset,
					0px -5px 30px -5px $colour-one inset,
					5px 0px 30px 5px $colour-two inset,
					0px 5px 15px -5px $colour-three inset;
	}
	50% {
		box-shadow: -5px 0px 15px -5px $colour-three inset,
					0px -5px 30px -5px $colour-four inset,
					5px 0px 30px -5px $colour-one inset,
					0px 5px 30px 5px $colour-two inset;
	}
	75% {
		box-shadow: -5px 0px 30px 5px $colour-two inset,
					0px -5px 15px -5px $colour-three inset,
					5px 0px 30px -5px $colour-four inset,
					0px 5px 30px -5px $colour-one inset;
	}
}
