.Login{
	text-align: center;
}

.Login button, .Login a{
	text-transform: uppercase;
}

.Login a:last-of-type{
	text-transform: initial;
}

.Login button:last-of-type{
	text-transform: initial;
	font-size: 1.5rem;
}

.verifyEmail{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	flex-direction: column;
}

.verifyEmail span{
	display: flex;
}

@media (max-width: 767px) {
	.verifyEmail h3, .verifyEmail h4{
		font-size: 1.25rem;
	}
}
