.ResponsiveContainer{
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	animation: rainbowInset 5s infinite;

}


@media only screen and (min-width: 1024px) {
	.ResponsiveContainer{
		width: 90vw;
		max-width: 67.5vh;
		height: 120vw;
		max-height: 90vh;
		animation: rainbow 5s infinite;
	}
}
