@import "./brand";


$colour-one: $gcs-bright;
$colour-two: lighten($gcs-bright, 30%);
$colour-three: $gcs-faded;
$colour-four: darken($gcs-bright, 30%);

@keyframes rainbow {
	from, to {
		box-shadow: -5px 0px 30px -5px $colour-one,
					0px -5px 30px -5px $colour-two,
					5px 0px 15px 5px $colour-three,
					0px 5px 30px -5px $colour-four;
	}
	25% {
		box-shadow: -5px 0px 30px -5px $colour-four,
					0px -5px 30px -5px $colour-one,
					5px 0px 30px 5px $colour-two,
					0px 5px 15px -5px $colour-three;
	}
	50% {
		box-shadow: -5px 0px 15px -5px $colour-three,
					0px -5px 30px -5px $colour-four,
					5px 0px 30px -5px $colour-one,
					0px 5px 30px 5px $colour-two;
	}
	75% {
		box-shadow: -5px 0px 30px 5px $colour-two,
					0px -5px 15px -5px $colour-three,
					5px 0px 30px -5px $colour-four,
					0px 5px 30px -5px $colour-one;
	}
}


@keyframes rainbowInset {
	from, to {
		box-shadow: -5px 0px 30px -5px $colour-one inset,
					0px -5px 30px -5px $colour-two inset,
					5px 0px 15px 5px $colour-three inset,
					0px 5px 30px -5px $colour-four inset;
	}
	25% {
		box-shadow: -5px 0px 30px -5px $colour-four inset,
					0px -5px 30px -5px $colour-one inset,
					5px 0px 30px 5px $colour-two inset,
					0px 5px 15px -5px $colour-three inset;
	}
	50% {
		box-shadow: -5px 0px 15px -5px $colour-three inset,
					0px -5px 30px -5px $colour-four inset,
					5px 0px 30px -5px $colour-one inset,
					0px 5px 30px 5px $colour-two inset;
	}
	75% {
		box-shadow: -5px 0px 30px 5px $colour-two inset,
					0px -5px 15px -5px $colour-three inset,
					5px 0px 30px -5px $colour-four inset,
					0px 5px 30px -5px $colour-one inset;
	}
}

$colour-one: $gcs-faded;
$colour-two: lighten($gcs-faded, 2.5%);
$colour-three: $gcs-faded;
$colour-four: darken($gcs-faded, 2.5%);

@keyframes secondaryRainbowInset {
	from, to {
		box-shadow: -5px 0px 30px -5px $colour-one inset,
					0px -5px 30px -5px $colour-two inset,
					5px 0px 15px 5px $colour-three inset,
					0px 5px 30px -5px $colour-four inset;
	}
	25% {
		box-shadow: -5px 0px 30px -5px $colour-four inset,
					0px -5px 30px -5px $colour-one inset,
					5px 0px 30px 5px $colour-two inset,
					0px 5px 15px -5px $colour-three inset;
	}
	50% {
		box-shadow: -5px 0px 15px -5px $colour-three inset,
					0px -5px 30px -5px $colour-four inset,
					5px 0px 30px -5px $colour-one inset,
					0px 5px 30px 5px $colour-two inset;
	}
	75% {
		box-shadow: -5px 0px 30px 5px $colour-two inset,
					0px -5px 15px -5px $colour-three inset,
					5px 0px 30px -5px $colour-four inset,
					0px 5px 30px -5px $colour-one inset;
	}
}


@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@mixin fadeIn{
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
}
