@import "../scss/brand";

.Dashboard li button, .Dashboard li a{
	margin-left: 4px;
}

.Dashboard{
	justify-content: center;
	text-align: center;
}

.Dashboard > div:first-of-type > a{
	color: $gcs-alpine !important;
}
.Dashboard > div:first-of-type > a:hover{
	color: $gcs-alpine-hover !important;
}
