@import "../scss/brand";

.Dashboard li button, .Dashboard li a{
	margin-left: 4px;
}

.Dashboard{
	justify-content: center;
	text-align: center;
}

.Dashboard > div > a:not(.anchorDisabled){
	color: $gcs-alpine !important;
}

.Dashboard > div > a:hover{
	color: $gcs-alpine-hover !important;
}

.Dashboard > div > a:not(.anchorDisabled):hover{
	cursor: pointer !important;
}

.Dashboard > div > a.anchorDisabled{
	color: $gcs-alpine-hover !important;
	pointer-events: none;
}

.Dashboard > div > button > div > svg{
	margin-right: 6px;
}
