.Builder{
	height: 100%;
	width: 100%;
	position: relative;
}

.Builder .searchResults{
	position: absolute;
	width: 100%;
}

.Builder > *{
	margin-bottom: 1.5vh;
}

.HrWrapper > *{
	margin: 0;
}

.Builder > :last-child{
	position: absolute;
	width: 100%;
	bottom: 0;
}

.Builder ul:last-of-type{
	overflow-y: auto;
	max-height: 40vh;
}

.Builder .searchWrapper{
	position: relative;
}
