.Builder{
	height: 100%;
	width: 100%;
	position: relative;
}

.Builder .searchResults{
	position: absolute;
}

.Builder ul{
	width: calc(100% - 5vmin);
}

.Builder > *{
	margin-bottom: 1.5vh;
}

.HrWrapper > *{
	margin: 0;
}

.Builder > :last-child{
	width: calc(100% - 5vmin);
	position: absolute;
	bottom: 0;
}
