.Builder{
	text-align: center;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.Builder > *{
	margin-bottom: 1.5vh;
}

.Builder button{
	text-transform: uppercase;
}

.Builder > :nth-last-child(2){
	flex-grow: 1;
}
