@import "../scss/brand";

.songRow{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5vmin;

	border-radius: 1vmin;

	transition: transform 0.25s, border-color 0.25s, background-color 0.25s;
	background-color: $gcs-fake-elevated;
	width: 100%;
	overflow: visible;
}

.songRowHoverable:hover{
	cursor: pointer;
	z-index: 2;
	overflow: visible;
	background-color: lighten($gcs-fake-elevated, 10%);
}

.songRow > div{
	display: flex;
	flex-direction: row;
	align-items: center;
}


.songRow img{
	height: 4rem;
	width: auto;
}

.songRow h4{
	color: $gcs-alpine;
}

.songRow h3{
	color: $gcs-faded;
}

.songRow h4, .songRow h3{
	margin: 0;
}

@media only screen and (min-width: 768px) {
	.songRow{
		transform: scale(1.0);
	}
	.songRowHoverable:hover{
		transform: scale(1.025,1.0);
	}
}
@media only screen and (max-width: 768px) {
	.songRow{
		transform: scale(0.975,1);
	}
	.songRowHoverable:hover{
		transform: scale(1.0);
	}
}

@media only screen and (min-width: 1024px) {
	.songRow > div > h3{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}


@media only screen and (max-width: 1024px) {
	.songRow > div > *{
		margin-left: 0.5rem;
	}

	.songRow > div {
		flex-direction: column;
		align-items: flex-start;
	}

	.songRow h3{
		font-size: 1.25rem;
	}

	.songRow h4{
		font-size: 1.0rem;
	}
}
