.songRow{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5vmin;

	border-radius: 1vmin;
	border: 2px solid #C0C0C000;

	transition: transform 0.25s, border-color 0.25s, background-color 0.25s;
	background-color: #DDD;
	width: 100%;
	overflow: visible;
}

.songRowHoverable:hover{
	transform: scale(1.05);
	cursor: pointer;
	z-index: 2;
	overflow: visible;
	background-color: #D0D0D0;
	border-color: #CCCCCCFF;
}

.songRow > div{
	display: flex;
	flex-direction: row;
	align-items: center;
}


.songRow img{
	height: 4rem;
	width: auto;
}

.songRow h4{
	color: grey;
}

.songRow h4, .songRow h3{
	margin: 0;
}

@media only screen and (min-width: 1024px) {
	.songRow > div > h3{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}


@media only screen and (max-width: 1024px) {
	.songRow > div > *{
		margin-left: 0.5rem;
	}

	.songRow > div {
		flex-direction: column;
		align-items: flex-start;
	}

	.songRow h3{
		font-size: 1.25rem;
	}

	.songRow h4{
		font-size: 1.0rem;
	}
}
